
div.MarkdownEditor {
	padding: 0;

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas: "top top" "left right";
}

.MarkdownEditor > .top{
	grid-area: top;
}

.MarkdownEditor > .left{
	grid-area: left;
}

.MarkdownEditor > .right{
	grid-area: right;
}

.MarkdownEditor div.top{
	padding: .5em;
	border-bottom: 1px solid lightgrey;
}

.MarkdownEditor div.right {
	background-color: lightgray;
}

textarea {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	padding: 0;
	border: none;
	resize: vertical;
}
