div.agenda-editor-container {
	width: calc(100% - 20);
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-areas: "editor sessions";
	column-gap: 8px;
}

.agenda-editor {
	grid-area: editor;
}

.agenda-editor table {
	width: 100%;
}

.agenda-editor div {
	padding: 0;
	margin: 0;
}

.agenda-editor input {
	font-size: 1em;
	background-color: rgba(0%, 0%, 0%, .03);
	border: none;
	border-bottom: thin solid rgba(0%, 0%, 0%, .1);
}

.agenda-editor [draggable] {
	cursor: default;
}

.agenda-editor .drop-area {
	background-color: aliceblue;
}

.tags>.tag {
	color: white;
	background-color: darkgray;
	font-size: .7em;
	padding: .1em .8em;
	text-transform: uppercase;
	border-radius: 2px;
}

.tags>.tag+.tag {
	margin-left: .5em;
}

.agenda-editor thead tr,
.agenda-editor tfoot tr {
	background-color: white;
}

.agenda-editor tfoot tr td {
	height: .5em;
	border: none;
}

.agenda-editor th .icons,
.agenda-editor td .icons {
	overflow-x: hidden;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 0;
	height: 100%;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	color: transparent;
	background-color: rgba(0%, 0%, 0%, .1);
	transition: .5s;
}

.agenda-editor th:hover .icons,
.agenda-editor td:hover .icons {
	color: black;
	width: 22px;
	transition: .2s;
}

.agenda-editor tr.timeslot.dragging th:hover .icons {
	display: none;
	/* timeslot level drag and drop set .dragging at tr level */
}

.agenda-editor td:hover.session .dragging .icons {
	display: none;
	/* session level drag and drop set .dragging at .session>div level */
}

.agenda-editor th button,
.agenda-editor td button {
	border: none;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	background-color: transparent;
}

.agenda-editor table {
	overflow: hidden;
	border-collapse: collapse;
	margin-bottom: .5em;
}

.agenda-editor thead th:first-child,
.agenda-editor thead th:last-child {
	width: 8em;
	min-width: 8em;
}

.agenda-editor .drop-area td,
.agenda-editor .timeslot td {
	position: relative;
	border: thin solid lightgray;
	height: 62px;
}

.agenda-editor th {
	position: relative;
	border-bottom: thin solid lightgray;
}


.agenda-editor th .location input {
	text-align: center;
}

.agenda-editor tr.break td input {
	margin: 0 auto;
	display: block;
	text-align: center;
}

/* --- */

.agenda-editor .time {
	background-color: white;
	border-radius: .5em;
}

/*
	The timeslot list displays the time between the rows
	.time.to on one row is the same as .time.from on the next row
   	When both .time.from and .time.to are displayed simultaneously, they will overlap.
	Either don't display one of them, or ensure that they have a background color, so one of them is hidden by the other one
*/

.agenda-editor .time.from {
	visibility: hidden;
	width: 5ch;
	margin: 0 auto;
	position: relative;
	top: -.85em;
}

.agenda-editor div.time.to {
	display: block;
	width: 5ch;
	margin: 0 auto;
	position: relative;
	bottom: -.75em;
}

.agenda-editor .dragging .time.from,
.agenda-editor .dragging .time.to {
	display: none;
	/* don't display  .time.from and .time.to while dragging */
}

.agenda-editor .dragging .duration {
	background-color: white;
}

.agenda-editor .timeslot:first-child .time.from,
.agenda-editor .drop-area+.timeslot .time.from {
	visibility: visible;
	/* display .time.from on top row, and on first row after .drop-area */
}

/* --- */


.agenda-editor .duration {
	font-weight: normal;
	white-space: nowrap;
}

.agenda-editor .duration input {
	text-align: center;
	width: 3ch;
}

.agenda-editor .break td {
	background-color: white;
}

.agenda-editor .session {
	padding: 0;
}

.agenda-editor .session>div {
	height: 100%;
}

.agenda-editor td.session>div {
	background-color: white;
	padding: 4px;
}

.agenda-editor .empty-slot {
	height: 100%;
	padding: 4px;
}

.agenda-editor .empty-slot div.frame {
	height: calc(100% - 6px);
	border: 3px dashed rgba(0%, 0%, 0%, .06);
	border-radius: .5em;
}

.session-list ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 4px 0 0 0;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.session-list li {
	border: thin solid lightgray;
	background-color: white;
	padding: 4px;
}

.session-list li+li {
	margin-top: 4px;
}


.agenda-editor-container {
	padding: 4px 0 4px 4px;
	overflow: scroll;
}

.session-list {
	grid-area: sessions;
	width: 200px;
}

.session-list h3 {
	margin: 0;
	padding: 4px;
	height: 20px;
	cursor: pointer;
	
}

.session-list .session {
	border-radius: .25em;
}


.session-list.collapse-session-list {
	width: 21px;
	margin-right: 6px;
}

.session-list header {
	display: block;
	background: mediumaquamarine;
}

.session-list.collapse-session-list header{
	height: 100%;
	width: 27px;
}

.session-list.collapse-session-list h3 {
	transform: rotate(90deg);
	transform-origin: 10.5px 10.5px;
	margin-left: 6px;
	margin-right: 6px;
}

.session-list.collapse-session-list ul {
	display: none;
}