
div.PlainTextEditor {
	padding: 0;

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas: "top" "bottom";
}

.PlainTextEditor > .top{
	grid-area: top;
}

.PlainTextEditor > .bottom{
	grid-area: bottom;
}

.PlainTextEditor div.top{
	padding: .5em;
	border-bottom: 1px solid lightgrey;
}

.PlainTextEditor textarea {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	padding: 0;
	border: none;
	resize: vertical;
}

